*
{
    margin:0;
    padding: 0;
}
body
{background-attachment: fixed;
background-image: url(./images/wallpaper.webp);
background-repeat: no-repeat;
background-size:100%;
/* position: relative; */
}
#nav1
{
  text-decoration:underline;
    /* position:inherit; */
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #423F3E;
    font-family: 'Poppins', sans-serif;
    border-bottom: 3px solid white;
    position: sticky;
    z-index: 1;

}
.ahead
{
   background-color: aliceblue;
   /* color: black; */
}
.logo
{
  width: 25%;
  height: 25%;
  border-radius: 20px;
  /* float: left; */
  opacity: 0.8;

}
#div1
{
    float:right;
}
.navLink
{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}
.navLink li {
    list-style: none;
    font-family: inherit;
}

.navLink a {
    color: rgb(218, 218, 218);
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    border: 3px solid;
    padding: 3px;
}
.img1
{
width: 30%;
height: 30%;
margin-left: 820px;
margin-right: auto;
margin-top: 100px;
display: block;
}

figure.container {
    border: #fff solid;
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 620px;
    max-width: 610px;
    max-height: 620px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    background-color: #07090c;
    font-size: 16px;
    -webkit-perspective: 50em;
    perspective: 50em;
margin-left: 820px;
margin-right: auto;
margin-top: 100px;
display: block;
  }
  
figure.container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  figure.container img {
    opacity: 1;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  figure.container figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% -50%;
    -ms-transform-origin: 50% -50%;
    transform-origin: 50% -50%;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px;
  }
  figure.container h3,
  figure.container p {
    line-height: 1.5em;
  }
  figure.container h3 {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
  }
  figure.container p {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 15px;
  }
  figure.container .more {
    border: 2px solid #ffffff;
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
  }
  figure.container .more:hover {
    background-color: #ffffff;
    color: #000000;
  }
  figure.container:hover img,
  figure.container.hover img {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
  }
  figure.container:hover figcaption,
  figure.container.hover figcaption {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  #train
  {
    border:aqua solid;
    padding: 1px;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    color:black;
    background-size:100%;
  } 
  #pro
  {
    border:aqua solid;
    padding: 1px;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    color:black;
  } 
  .soon
  {text-align: center;
    color: red;
    background-color: aqua;
  }
  .soon h2
  {
    border: 3px white solid;
    margin-left: 820px;
    margin-right: 455px;
    padding: 220px;
    margin-top: 120px;
    margin-bottom: 100px;
    cursor: progress;
  }
  .divfooter
  {
    background-color: #000000;
    border:3px #fff;
    margin: 0;
    padding: 0;
    
  }
  .divfooter h2
  {
    font-family:sans-serif;
    color: #fff;
    display: inline;
    /* position: sticky;
    top: 0;
    bottom: 0; */
    /* float: left; */
  }
  .ulfooter li
  {
    text-align: left;
    font-size: 20px;
    padding: 15px;
    /* margin-right: 200px; */
    margin-left: 1000px;
    font-style: italic;
  }
  .ulfooter li:hover
  {
    text-decoration: underline;
  }
  .ulfooter a
  {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #email
  {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
    width: 220px;
    margin:15px;
    margin-top:25px;
  }
  #email-input
  {
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
    width: 220px;
    margin:15px;
    margin-top:25px;
  }
  #submit
  {
    height: 30px;
    width: 60px;
    color:white;
    background-color: red;
    font-size: 18px;
  }
  #copyright 
  {
    margin:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #divstick
  {
    display: inline;
    position: sticky;
    top: 0;
    bottom: 0;
  }
  /* .navfoot
  {
    width: 4vw;
    height: 4vh;
  } */


